<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Fables is gathering place for authors. It was created to help
  them in the development of their books and fan base. It can be 
  used for promoting new material by posting teasers and links to
  relevant sites (for example, the author's blog or the website
  where the book is being sold at).
</p>
<p>
  Thanks so much to: <br>
  <li>
  	Michael Hartl and his 
  	<a href="http://railstutorial.org/">Rails Tutorial</a> which
  	was a great help in getting this application off the ground!
	</li>
</p>
