<% provide(:title, "Edit fable") %> 
<h1>Update your fable</h1>
      <section>
        <%= render 'shared/fable_form' %>
      </section>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>
