<% title "New Survey" %>

<pre>
  <%= @survey.inspect %>
  <%= @micropost.inspect %>
</pre>

<%= render :partial => 'form', :locals => {:micropost => @micropost} %>

<p><%= link_to "Back to List", surveys_path %></p>