<% provide(:title, "Edit micropost") %> 
<h1>Update your micropost</h1>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>